/*
Colors 
  #acb404: Green
  #047c94: Light Blue
  #041c2c: Dark Blue 
*/

/* try this backgorund color White
  #FFFFFF
  #F8F8F8
  #FCFCFC
  #F2F2F2
*/

/*
Fonts: Open Sans 300;500;800
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300&display=swap');

/*This is the standar configuration for all the web desing*/
* {
 margin: 0;
 padding: 0;
 font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 50px;
}

/* Navbar */
nav {
  background-color: rgba(172, 180, 4, 0.8);
}

.navbar-nav .nav-item .nav-link{
  color:#041c2c;
}

/* Hero Section */
.jumbotron {
  background-image: url('./img/hero1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  text-align: center;
  padding-top: 180px;

}

.jumbotron h1{
  font-weight: 800;
  font-size: 50px;
}

.jumbotron h3{
  font-weight: 500;
  font-size: 40px;
}

.jumbotron p{
  font-weight: 500;
  font-size: 25px;
}

.jumbotron .custom-btn {
  background-color: #acb404;
  border-color: black;
  color: #F8F8F8;
}

.jumbotron .custom-btn:hover {
  background-color: #047c94;
  border-color: black;
  color: #F8F8F8;
}



