@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300&display=swap');

/*>>>>>> Website Configuration */

* {
 margin: 0;
 padding: 0;
 font-family: 'Open Sans', sans-serif;
 /*
Colors 
  #acb404: Green
  #047c94: Light Blue
  #041c2c: Dark Blue 
*/

/* try this backgorund color White
  #FFFFFF
  #F8F8F8
  #FCFCFC
  #F2F2F2
*/

/* Fonts: Open Sans 300;500;800 */
}

h1 {
  font-weight: 800;
  font-size: 50px;
}

/*>>>>>> Navbar */

/* >>>>>Mobile */
/* Before 768px */
@media (max-width: 768px) {
  nav {
    background-color: rgba(172, 180, 4, 0.8);
  }
  
  .navbar-nav .nav-item .nav-link{
    color:#041c2c;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-mobile {
    display: block;
  }
  
  .logo-desktop {
    display: none;
  }
}

/* After 768px*/
@media (min-width: 768px) {
  nav {
    background-color: rgba(172, 180, 4, 0.8);
  }
  
  .navbar-nav .nav-item .nav-link{
    color:#041c2c;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-mobile {
    display: none;
  }
  
  .logo-desktop {
    display: block;
  }
}




/*>>>>>>>>> Hero Section */

/* Show the desktop logo for screens wider than 768px */
@media (max-width: 767px) {
  .jumbotron {
    background-image: url('./img/hero1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    padding-top: 180px;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    background-image: url('./img/hero2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    padding-top: 180px;
    background-color: transparent;
  }
}

.jumbotron h1{
  font-weight: 800;
  font-size: 60px;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.jumbotron h3{
  font-weight: 500;
  font-size: 40px;
}

.jumbotron p{
  font-weight: 500;
  font-size: 25px;
}

.jumbotron .custom-btn {
  background-color: #acb404;
  border-color: black;
  color: #F8F8F8;
  opacity: 1;
}

.jumbotron .custom-btn:hover {
  background-color: #047c94;
  border-color: black;
  color: #F8F8F8;
}


/* Card Section */
.second-section {
  background-color: #F2F2F2;
}

.card-custom {
  margin: 30px;
}

