
/*
Colors 
  #acb404: Green
  #047c94: Light Blue
  #041c2c: Dark Blue 
*/

/*
Fonts: Open Sans 300;500;800
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300&display=swap');

/*This is the standar configuration for all the web desing*/
* {
 margin: 0;
 padding: 0;
 font-family: 'Open Sans', sans-serif;
}

